.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.env

**/test_keys
test/merkle_tree.json
test/merkle_tree_test_csv.json

build
*.csv
merkle_tree.json
proofs/
data/
data/**/*
backup-keys
metadata
cat-meta